<nav>
    <div class="site-title">
        <a href="/">ThriveFood</a>
        <p>Share your</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/Donate">Donate</a></li>
    </ul>
</nav>