<nav>
    <div class="site-title">
        <a href="/">MATHEMATICALLY</a>
        <p>Share your projects</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>