<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About</h2>
        <p>
            This project is made to help people learn and collobrate.
            we are starting with adding mathematical fuctions.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>