<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About me</h2>
        <p>My name is .</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>