<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <h1>Welcome to MATHEMATICALLY</h1>
    <p>here you can find solutions to your math problems</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>