<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <div class="searchbar">
        <input type="text" placeholder="Search">
    </div>
    

    <div class="grid-container ">
        <div class="grid-item item-box">Project1</div>
        <div class="grid-item item-box">Project2</div>
        <div class="grid-item item-box">Project3</div>
        <div class="grid-item item-box">Project4</div>
        <div class="grid-item item-box">Project5</div>
        <div class="grid-item item-box">Project6</div>
        <div class="grid-item item-box">Project7</div>
        <div class="grid-item item-box">Project8</div>
        <div class="grid-item item-box">Project9</div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>