.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-box {
    padding: 5px;
    border: 1px solid black;
}

.searchbar {
    padding: 20px;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}